:root {
  --un-prose-headings: theme("colors.primary.800");
}

body {
  @apply antialiased font-sans text-gray-900 lh-normal;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply heading lh-tight color-primary-800;
}

.prose :is(h1, h2, h3, h4, h5, h6) {
  @apply font-extralight;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  @apply color-primary-800 decoration-none hover:decoration-underline;
}

.invert-colors {
  @apply bg-primary-900 text-white;

  & :is(h1, h2, h3, h4, h5, h6, a) {
    @apply text-white;
  }
}
