body {
  font-family:
    ui-sans-serif,
    system-ui,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    Segoe UI Symbol,
    "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  color: var(--theme-colors-gray-900);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--theme-colors-primary-800);
  font-weight: 300;
  text-transform: uppercase;
  font-stretch: semi-condensed;
  line-height: 1.25;
}

.prose :is(h1, h2, h3, h4, h5, h6) {
  font-weight: 200;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: var(--theme-colors-primary-800);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.invert-colors {
  background-color: var(--theme-colors-primary-900);
  color: var(--theme-colors-white);

  & :is(h1, h2, h3, h4, h5, h6, a) {
    color: var(--theme-colors-white);
  }
}

.column-layout {
  columns: 12rem auto;
  column-gap: 4rem;
  padding-block-start: 1.5em;

  & section {
    break-inside: avoid;

    & + section {
      margin-block-start: 1.5em;
    }

    & > *:is(h1, h2, h3, h4, h5, h6) {
      margin-block-start: 0;
    }
  }
}
