.no-scrollbar {
  /* Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Chrome & Safari */
  &::-webkit-scrollbar {
    display: none;
  }
}

.wide-container {
  width: min(var(--theme-size-6xl), calc(100vw - 2 * var(--theme-spacing)));
  margin-inline: auto;
}

.filled-container {
  width: "100%";
  /**
  * Filled container needs to have full width, but adjust horizontal padding to maintain
  * content at max width of 6xl (72rem) minus default spacing. It also should have at least
  * default spacing (1rem) as horizontal padding.
  */
  padding-inline: max(
    var(--theme-spacing),
    calc((100% - var(--theme-size-6xl)) / 2 + var(--theme-spacing))
  );
}

.wide-image {
  width: min(var(--theme-size-8xl), 100vw);
  margin-inline: auto;
  object-fit: cover;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.overlay-link:after {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: "";
}

.card {
  position: relative;
  padding-inline: 1.5rem;
  padding-block: 2rem;
  box-shadow: var(--shadow);
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;

  &:hover {
    box-shadow: var(--shadow-sm);
  }
}

.prose {
  max-width: 65ch;
  font-size: 1.125rem;
  line-height: 1.75rem;

  & :where(p) {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  & :is(h1, h2, h3, h4, h5, h6) {
    font-weight: 200;
  }

  & :where(h2) {
    font-size: 1.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3333333;
  }

  & :where(h3) {
    font-size: 1.25em;
    margin-top: 1.6em;
    margin-bottom: 0.6em;
    line-height: 1.6;
  }

  & :where(h4) {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.5;
  }

  & :where(h2 + *) {
    margin-top: 0;
  }

  & :where(strong) {
    font-weight: 600;
  }

  & :where(ul ul, ul ol, ol ul, ol ol) {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }

  & ul {
    list-style-type: disc;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-inline-start: 1.625em;

    & > li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      padding-inline-start: 0.375em;

      &::marker {
        color: var(--theme-colors-gray);
      }
    }
  }
}
