---
import svg from "~/assets/svg/logo.svg?raw";
---

<a class="logo" href="/"><Fragment set:html={svg} /><span>Musikverein Bürglen</span></a>
<style>
  a.logo {
    @apply block h-20 flex-grow-0 flex gap-2 items-center text-primary-800 decoration-none hover:decoration-none;

    & span {
      @apply heading;
    }
  }
</style>
<style is:global>
  a.logo svg {
    @apply w-20 h-20 flex-shrink-0;
  }
</style>
