---
import "~/styles/main.css";

export interface Props {
  title?: string;
}
const { title = "Musikverein Bürglen" } = Astro.props;
---

<!doctype html>
<html lang="de-CH">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>
  <body>
    <slot />
  </body>
</html>
