---
import Carousel from "~/components/Carousel.astro";
import Logo from "~/components/Logo.astro";
import "~/styles/main.css";

export interface Props {
  title?: string;
  images?: string[];
}

const { title = "Musikverein B체rglen", images = ["/src/assets/images/winterkonzert-2023.jpg"] } =
  Astro.props;

// image from Markdown can be an empty string:
const imageSrcs = images.filter((s) => s.length);
---

<!doctype html>
<html lang="de-CH">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
  </head>
  <body>
    <header>
      <Logo />
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/anlaesse">Anl채sse</a></li>
          <li><a href="/verein">Verein</a></li>
          <li><a href="/kontakt">Kontakt</a></li>
        </ul>
      </nav>
    </header>
    <Carousel images={imageSrcs} />
    <main>
      <slot />
    </main>
    <footer class="invert-colors">
      <section>
        <h3>Musikverein B체rglen</h3>
        <p>6463 B체rglen UR</p>
        <p>E-Mail: <a href="mailto:mvb@mv-buerglen.ch">mvb@mv-buerglen.ch</a></p>
      </section>
      <section>
        <nav>
          <ul>
            <li><a href="/kontakt">Kontakt</a></li>
            <li><a href="/impressum">Impressum</a></li>
          </ul>
        </nav>
      </section>
    </footer>
  </body>
</html>
<style>
  html {
    @apply min-h-screen;
  }

  body {
    @apply min-h-screen flex flex-col;
  }

  header {
    @apply wide-container flex flex-wrap gap-4 items-center justify-between text-xl;

    & nav {
      @apply flex-grow-0;
    }
  }

  main {
    @apply wide-container my-12 flex-grow;
  }

  footer {
    @apply filled-container flex-shrink-0 flex flex-wrap gap-4 justify-between py-20;

    & nav ul {
      @apply flex-col;
    }
  }
</style>
